{% extends 'base.html' %}

{% block content %}
    <h1>Remove a Device</h1>
    <form action="{{ url_for('remove_device') }}" method="post">
        <label for="DeviceModelKey">Device Model:</label><br>
        <select id="DeviceModelKey" name="DeviceModelKey" required>
            <option value="">Select a Device Model</option>
            {% for device in devices %}
            <option value="{{ device.DeviceModelKey }}">{{ device.DeviceModelName }}</option>
            {% endfor %}
        </select><br><br>

        <label for="DonorKey">Donor:</label><br>
        <select id="DonorKey" name="DonorKey" required>
            <option value="">Select a Donor</option>
            {% for donor in donors %}
            <option value="{{ donor.TrackerDonorKey }}">{{ donor.TrackerDonorsFirstName }} {{ donor.TrackerDonorsLastName }}</option>
            {% endfor %}
        </select><br><br>

        <input type="submit" value="Remove Device">
    </form>
{% endblock %}
